/*
Theme Name: Sasha & Co
Author: Samantha Scott
*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body,
ol,
ul,
li,
form,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  outline: 0;
}

a,
button,
img,
div,
*:before,
*:after {
  transition: 0.5s ease all;
}

a:hover,
button:hover,
img:hover,
div:hover,
*:before:hover,
*:after:hover {
  transition: 0.5s ease all;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 1rem;
}

small,
.sm {
  font-size: 90%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  appearance: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #000;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

textarea {
  overflow: auto;
  resize: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin-top: 5rem;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  transition: 0.5s ease all;
  font-family: "Cormorant Garamond", sans-serif;
  color: #855f56;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #855f56;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
  outline: 0 !important;
}

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
p a,
a {
  line-height: 1.5;
  color: #2c2725;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
p strong,
p a strong,
a strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote {
  margin: 0 0 1.5rem;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
li:last-child,
blockquote:last-child {
  margin: 0 !important;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 100;
  line-height: 1.2;
}

h4,
h5,
h6,
li,
p,
a {
  font-family: "brandon-grotesque", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: rgba(44, 39, 37, 0.7);
  text-transform: none;
}

h5,
h6 {
  color: #cba49a;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h6 {
  color: #2c2725;
  font-size: 1rem;
  letter-spacing: 2px;
}

p,
li {
  line-height: 1.8;
  color: rgba(44, 39, 37, 0.5);
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta {
  display: block;
  padding: 1rem 0;
}

.meta span {
  position: relative;
  padding: 0 0.5rem 0 1rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  color: #cba49a;
  font-weight: 500;
  line-height: 2;
  font-family: "brandon-grotesque", sans-serif;
}

.meta span:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: #cba49a;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.tdark h1,
.tdark h2,
.tdark h3,
.tdark h4,
.tdark h5,
.tdark a,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark a {
  color: white;
}

.tdark p,
.tdark p a,
.tdark li,
.dark p,
.dark p a,
.dark li {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 2rem;
  }
  h3,
  h4 {
    font-size: 1.2rem;
  }
  h5,
  h6 {
    font-size: 1.2rem;
  }
}

section {
  position: relative;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex.center {
  align-items: center;
}

.flex.justify {
  justify-content: space-between;
}

.large {
  margin: auto;
  width: 75rem;
}

.medium {
  margin: auto;
  width: 65rem;
}

.small {
  margin: auto;
  width: 40rem;
}

.thick {
  padding: 8rem 0;
}

.thin {
  padding: 5rem 0;
}

.xthin {
  padding: 1.5rem 0;
}

.item-20,
.item-30,
.item-45,
.item-50,
.item-65 {
  margin-top: 2rem;
}

.item-20 {
  width: calc(25% - 1rem);
}

.item-20 .image {
  height: 14rem;
}

.item-20:nth-child(-n + 4) {
  margin-top: 0;
}

.item-30 {
  width: 30%;
}

.item-30 .image {
  height: 18rem;
}

.item-30:nth-child(-n + 3) {
  margin-top: 0;
}

.item-45 {
  width: 45%;
}

.item-45:nth-child(-n + 2) {
  margin-top: 0;
}

.item-45:nth-child(-n + 2),
.item-50:nth-child(-n + 2),
.item-65:nth-child(-n + 2) {
  margin-top: 0;
}

.item-50 {
  width: 50%;
}

.item-65 {
  width: 65%;
}

.third .item {
  width: calc(100% / 3);
}

.light {
  background: #f5edeb;
}

.dark {
  background: #2c2725;
}

@media screen and (max-width: 1500px) {
  .large {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) {
  .medium {
    width: 90%;
  }
  .item-30 .image {
    height: 30vw;
  }
}

@media screen and (max-width: 900px) {
  .small {
    width: 90%;
  }
  .xthin {
    padding: 1rem 0;
  }
  .thin,
  .thick {
    padding: 4rem 0;
  }
  .item-20 {
    width: calc(50% - 1rem);
    margin-top: 2rem !important;
  }
  .item-20 .image {
    height: 40vw;
  }
  .item-20:nth-child(-n + 4) {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .item-30,
  .item-45,
  .item-50,
  .item-65,
  .quarter .item {
    width: 100%;
    margin: 2rem auto 0 !important;
  }
  .item-30 .image,
  .item-45 .image,
  .item-50 .image,
  .item-65 .image,
  .quarter .item .image {
    height: 60vw;
  }
  .item-30:first-child,
  .item-45:first-child,
  .item-50:first-child,
  .item-65:first-child,
  .quarter .item:first-child {
    margin: 0 auto !important;
  }
  .third .item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .item-20 {
    width: 90%;
    margin: auto;
  }
  .item-20 .image {
    height: 70vw;
  }
}

iframe {
  max-width: 40rem;
  height: 25rem;
}

.image,
.feature {
  position: relative;
}

.image .background,
.feature .background {
  z-index: 0;
}

.feature {
  height: 30rem;
}

.image {
  height: 20rem;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -9;
}

.background.dark:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
}

@media screen and (max-width: 1200px) {
  .feature {
    height: 50vw;
  }
}

@media screen and (max-width: 750px) {
  iframe {
    width: 100%;
    height: 50vw;
  }
  .feature {
    height: 60vw;
  }
}

header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  z-index: 2000000;
  background: white;
  box-shadow: 0 0 10px rgba(133, 95, 86, 0.2) !important;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li {
  position: relative;
  cursor: pointer;
}

header ul .current-menu-item > a,
header ul .current-menu-parent > a {
  color: #e2cdc7;
  border-bottom: 1px solid #e2cdc7;
}

header ul .current-menu-item > a:before,
header ul .current-menu-parent > a:before {
  border-color: #e2cdc7 !important;
}

header ul .menu-item-has-children > a {
  padding-right: 1rem;
  pointer-events: none;
}

header ul .menu-item-has-children > a:before {
  content: '';
  position: absolute;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  right: 1rem;
  top: 2.3rem;
  margin: auto;
  transform: rotate(45deg);
}

header ul a {
  color: white;
  display: block;
  margin: 0;
  padding: 1rem;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header ul .sub-menu {
  display: block;
  max-height: 0;
  overflow: hidden;
  background: #2c2725;
}

header ul .sub-menu li:hover a, header ul .sub-menu li.current-menu-item a {
  border: 0;
  color: white;
  background: #855f56;
}

header ul .sub-menu li a {
  background: #2c2725;
  margin: 0 !important;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: white !important;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

header ul .open .sub-menu {
  max-height: 30rem;
}

header .cart-link,
header .hamburger {
  z-index: 9000000000;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  cursor: pointer;
  margin-left: 1rem;
}

header .hamburger {
  background: url("src/img/plus.svg") 50% 50% no-repeat;
}

header.active .hamburger {
  transform: rotate(135deg);
}

header .cart-link {
  background: url("src/img/bag.svg") 50% 50% no-repeat;
}

header .cart-link:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #cba49a;
  border-radius: 5px;
  right: 0;
}

@media screen and (min-width: 1200px) {
  header ul li {
    padding: 1rem 0;
  }
  header ul a {
    margin: 0 1rem !important;
  }
  header ul .sub-menu {
    z-index: 200;
    top: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
  }
  header ul .sub-menu li {
    padding: 0;
  }
}

footer {
  background: #cba49a;
}

footer p,
footer a {
  margin: 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.error404 {
  margin: 0 !important;
}

.error404 .flex {
  width: 100%;
  height: 100vh;
  align-items: center;
}

.error404 h2 {
  font-family: "brandon-grotesque", sans-serif;
}

.cart-link {
  z-index: 9000000000;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  background: url("src/img/bag.svg") 0% 50% no-repeat;
  cursor: pointer;
}

.cart-link:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #cba49a;
  border-radius: 5px;
  right: 0;
}

.mini-cart {
  top: 0;
  right: 0;
  padding: 6rem 4rem 4rem;
  display: block;
  width: 30rem;
  right: -30rem;
  height: 100%;
  position: fixed;
  background: white !important;
}

.mini-cart.active {
  right: 0;
}

.mini-cart .inner {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mini-cart .inner h5 {
  text-align: left;
}

.mini-cart .woocommerce-mini-cart {
  width: 100%;
  display: block;
}

.mini-cart .woocommerce-mini-cart-item {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(226, 205, 199, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.mini-cart .woocommerce-mini-cart-item:before, .mini-cart .woocommerce-mini-cart-item:after {
  display: none !important;
}

.mini-cart .woocommerce-mini-cart-item * {
  margin: 0 !important;
  padding: 0;
}

.mini-cart .woocommerce-mini-cart-item .quantity,
.mini-cart .woocommerce-mini-cart-item .remove {
  width: 2rem;
  height: 2rem;
  font-size: 0.9rem;
  color: black;
  line-height: 2rem;
}

.mini-cart .woocommerce-mini-cart-item h6 {
  line-height: 1;
}

.mini-cart .woocommerce-mini-cart-item .remove {
  order: 1;
  position: relative;
}

.mini-cart .woocommerce-mini-cart-item .remove:before, .mini-cart .woocommerce-mini-cart-item .remove:after {
  content: '';
  display: block;
  position: absolute;
  height: 0.8rem;
  width: 1px;
  background: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mini-cart .woocommerce-mini-cart-item .remove:before {
  transform: rotate(45deg);
}

.mini-cart .woocommerce-mini-cart-item .remove:after {
  transform: rotate(-45deg);
}

.mini-cart .woocommerce-mini-cart-item div {
  height: auto;
  width: auto;
  order: 2;
}

.mini-cart .bottom {
  width: 100%;
}

.mini-cart .bottom .total {
  border-top: 1px solid rgba(226, 205, 199, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0;
}

.mini-cart .bottom .button {
  width: 100%;
  margin-top: 2rem;
}

.woocommerce form input,
.woocommerce form select {
  width: 100% !important;
  padding: 1.2rem 1rem !important;
  display: block;
}

.woocommerce form .quantity {
  display: inline-block;
  width: 5rem;
  margin-right: 0.8rem;
}

.woocommerce form .quantity input::-webkit-inner-spin-button, .woocommerce form .quantity input::-webkit-outer-spin-button {
  opacity: 1;
}

.woocommerce form button,
.woocommerce form .single_add_to_cart_button {
  width: 12rem;
  line-height: 1.8 !important;
  padding: 1.2rem 1rem !important;
}

.woocommerce form .variations {
  width: 18rem;
  margin-bottom: 1rem;
  position: relative;
  padding-right: 3rem !important;
}

.woocommerce form .reset_variations {
  display: none !important;
}

@media screen and (max-width: 500px) {
  .woocommerce form .quantity,
  .woocommerce form button {
    width: 100%;
  }
  .woocommerce form .quantity {
    margin-bottom: 1rem;
  }
}

.product-tabs .tab-nav {
  justify-content: flex-start;
  border-bottom: 2px solid rgba(226, 205, 199, 0.5);
  margin: 0 0 2rem;
}

.product-tabs .tab-nav .item {
  padding: 1rem;
  opacity: 0.3;
  position: relative;
  cursor: pointer;
}

.product-tabs .tab-nav .item:first-child:after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #cba49a;
}

.product-tabs .tab-display .item {
  opacity: 0;
  display: none;
}

.product-tabs .item:first-child {
  opacity: 1;
  display: block;
}

.single-product .back {
  display: block;
  padding-left: 1rem;
  position: relative;
  opacity: 0.3;
}

.single-product .back:hover {
  opacity: 0.5;
}

.single-product .back h6 {
  color: #2c2725;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.5;
}

.single-product .back:before {
  content: '';
  display: block;
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-left: 1px solid #2c2725;
  border-bottom: 1px solid #2c2725;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}

.single-product .product_meta {
  display: none;
}

.single-product .cost {
  display: block;
  padding-top: 1.5rem;
  border-top: 1px solid #e2cdc7;
}

.single-product .main-carousel,
.single-product .carousel-cell {
  width: 100%;
  height: 100%;
}

.accordion .item {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgba(44, 39, 37, 0.1);
}

.accordion .item .title {
  height: auto;
  max-width: 100%;
  position: relative;
  padding-right: 2rem;
  cursor: pointer;
}

.accordion .item .title:after {
  content: '';
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.3rem;
  right: 0;
  border-right: 1px solid #2c2725;
  border-bottom: 1px solid #2c2725;
  transform: rotate(45deg);
}

.accordion .item .expand {
  max-height: 0;
  overflow: hidden;
}

.accordion .item .expand .content {
  padding: 2rem 0 0;
}

.accordion .item.open .title h3 {
  color: #e2cdc7;
}

.accordion .item.open .title:after {
  top: 0.4rem;
  transform: rotate(225deg);
  border-color: #e2cdc7;
}

.accordion .item.open .expand {
  height: auto;
  max-height: 80rem;
}

.banner .background {
  z-index: -9;
}

.banner .background.dark:before {
  background: #2c2725;
  opacity: 0.9;
}

@media screen and (max-width: 900px) {
  .banner .thick {
    padding: 5rem 0;
  }
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
button[type='submit'] {
  background: transparent !important;
  border: 1px solid #cba49a !important;
  color: #cba49a !important;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover, .button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
button[type='submit']:hover,
button[type='submit']:focus {
  background: rgba(226, 205, 199, 0.2) !important;
}

.button.white,
button.white,
input[type='button'].white,
input[type='reset'].white,
input[type='submit'].white,
button[type='submit'].white {
  border: 1px solid white !important;
  color: white !important;
}

.button.white:hover, .button.white:focus,
button.white:hover,
button.white:focus,
input[type='button'].white:hover,
input[type='button'].white:focus,
input[type='reset'].white:hover,
input[type='reset'].white:focus,
input[type='submit'].white:hover,
input[type='submit'].white:focus,
button[type='submit'].white:hover,
button[type='submit'].white:focus {
  background: rgba(255, 255, 255, 0.1);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content blockquote {
  margin: 1.5rem 0;
}

.content p,
.content ul,
.content ol,
.content li {
  margin: 0 0 1rem;
}

.content *:first-child {
  margin-top: 0;
}

.content *:last-child {
  margin-bottom: 0;
}

.content ul,
.content ol {
  list-style: none;
}

.content ul li,
.content ol li {
  padding-left: 1.5rem;
  position: relative;
}

.content ul li:before,
.content ol li:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: #855f56;
  left: 0.3rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content blockquote {
  border-left: 1px solid rgba(226, 205, 199, 0.6);
  padding: 0 0 0 1rem;
  margin: 2rem 0;
}

.content blockquote p {
  color: #e2cdc7;
  font-size: 1.4rem;
}

.content img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .content .small {
    width: calc(100% - 30rem);
  }
}

@media screen and (max-width: 900px) {
  .content .small {
    width: 100%;
  }
}

.collections .item {
  height: 30vw;
}

.collections .item:hover .dark:before {
  background: #855f56;
  opacity: 0.95;
}

.collections h6 {
  color: white;
  margin: 0;
}

.collections .flex {
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .collections .item {
    height: 50vw;
  }
}

.edit_link {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200000000;
}

.edit_link a {
  margin: 1rem 0 0 1rem;
  width: 3rem;
  height: 3rem;
  background: #e2cdc7;
  display: block;
  position: relative;
}

.edit_link a:before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #cba49a;
  -webkit-mask: url("src/img/edit.svg") 50% 50% no-repeat;
  -webkit-mask-size: contain;
}

.edit_link a:hover:before {
  background: #855f56;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: none !important;
}

.carousel-cell {
  position: relative;
}

.flickity-button {
  position: absolute;
  background: white;
  border: none;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.flickity-prev-next-button {
  top: auto !important;
  transform: none;
  bottom: 0 !important;
  margin: 0 !important;
  width: 5rem !important;
  height: 5rem !important;
  padding: 1rem 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  background: #cba49a !important;
  margin: auto;
  opacity: 1 !important;
}

.flickity-prev-next-button:disabled, .flickity-prev-next-button:disabled:hover {
  background: #e2cdc7 !important;
}

.flickity-prev-next-button:hover, .flickity-prev-next-button:focus {
  background: #cba49a !important;
  box-shadow: none !important;
}

.flickity-prev-next-button .flickity-button-icon {
  display: none;
}

.flickity-prev-next-button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.6rem;
  height: 0.6rem;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.flickity-prev-next-button.previous {
  left: calc(50% - 5rem);
}

.flickity-prev-next-button.previous:before {
  right: 40%;
  transform: rotate(135deg);
}

.flickity-prev-next-button.next {
  right: calc(50% - 5rem);
}

.flickity-prev-next-button.next:before {
  left: 40%;
  transform: rotate(-45deg);
}

.dark .flickity-prev-next-button {
  background: #2c2725 !important;
}

.dark .flickity-prev-next-button:before {
  border-color: white;
}

.dark .flickity-prev-next-button:hover, .dark .flickity-prev-next-button:focus {
  background: #2c2725 !important;
}

.flickity-page-dots {
  bottom: 4rem !important;
  width: auto;
  position: relative;
  margin: 0 !important;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-page-dots .dot {
  width: 4rem;
  height: 2px;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 0;
  opacity: 0.5;
  background: #e2cdc7;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .flickity-page-dots {
    bottom: 2rem !important;
  }
  .flickity-page-dots .dot {
    width: 2rem;
  }
  .flickity-prev-next-button {
    width: 4rem !important;
    height: 4rem !important;
  }
  .flickity-prev-next-button.previous {
    left: calc(50% - 4rem);
  }
  .flickity-prev-next-button.next {
    right: calc(50% - 4rem);
  }
}

.button,
button,
input,
textarea,
select {
  -webkit-appearance: none !important;
  appearance: none;
  padding: 1.2rem 2.2rem !important;
  margin: 0 !important;
  line-height: 1.5 !important;
  display: inline-block;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-family: "brandon-grotesque", sans-serif;
  border: 0;
  font-size: 0.9rem !important;
  position: relative;
  cursor: pointer;
}

form {
  margin: 0;
  padding: 0;
}

form input,
form textarea,
form select {
  font-size: 1rem !important;
  background: white !important;
  color: rgba(133, 95, 86, 0.7) !important;
  border: 1px solid white !important;
}

form label {
  display: none;
}

form textarea {
  max-height: 8rem;
}

form input[type='checkbox'] {
  vertical-align: top;
  margin: 0.3rem 0.5rem 0 0 !important;
  max-width: 1rem !important;
  width: 1rem !important;
  height: 1rem !important;
  padding: 0 !important;
  display: inline-block !important;
  border: 1px solid #e2cdc7;
}

form input[type='checkbox']:checked {
  background: rgba(226, 205, 199, 0.4);
}

form ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form ul li {
  width: 100%;
  margin: 0 0 0.5rem;
}

form .half {
  width: calc(50% - 0.25rem);
}

form .gform_footer input {
  margin: 0 auto !important;
}

form .validation_message,
form .validation_error {
  display: none !important;
}

form .gfield_error input,
form .gfield_error select,
form .gfield_error textarea {
  border: 1px solid #cba49a !important;
}

@media screen and (max-width: 750px) {
  form .half {
    width: 100%;
  }
}

.logo {
  height: 1rem;
  margin: 0;
}

.logo svg {
  width: auto;
  height: 100%;
}

footer .logo path {
  fill: white;
}

.products .item-20 {
  background: white;
}

.products .item-20 .background {
  margin: 2rem;
}

.products .item-20 .meta {
  padding: 0 1rem 2rem;
}

.products .item-20 .meta h4 {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
}

.products .item-20 .meta h4:after {
  content: '';
  width: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: block;
  bottom: 0;
  height: 1px;
  background: rgba(133, 95, 86, 0.2);
}

.products .item-20 .meta h6 {
  font-weight: 400;
  opacity: 0.3;
  font-size: 1rem;
  letter-spacing: 1px;
}

.products .item-20:hover {
  box-shadow: 0.2rem 0.2rem 0 rgba(226, 205, 199, 0.5);
}

.products .item-20:hover h4:after {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .products .item-20 .background {
    margin: 1rem;
  }
}

.front-slider .item-50,
.front-slider .main-carousel,
.product-slider .item-50,
.product-slider .main-carousel {
  height: 55rem;
  justify-content: center;
}

.front-slider .carousel-cell,
.product-slider .carousel-cell {
  width: 100%;
  height: 100%;
}

.front-slider .content,
.product-slider .content {
  width: 100%;
  padding: 3rem;
  max-width: 40rem;
}

@media screen and (max-height: 900px) {
  .front-slider .main-carousel,
  .front-slider .flickity-viewport,
  .front-slider .item-50 {
    height: calc(100vh - 5rem) !important;
  }
}

@media screen and (max-height: 800px) {
  .front-slider .item-50,
  .front-slider .main-carousel,
  .front-slider .flickity-viewport,
  .product-slider .item-50,
  .product-slider .main-carousel,
  .product-slider .flickity-viewport {
    height: calc(100vh - 5rem) !important;
  }
}

@media screen and (max-width: 900px) {
  .front-slider .main-carousel,
  .front-slider .flickity-viewport,
  .front-slider .item-50 {
    height: 25rem !important;
  }
}

@media screen and (max-width: 750px) {
  .product-slider {
    flex-direction: column-reverse;
  }
  .product-slider .item-50 {
    margin: 0 !important;
  }
  .product-slider .item-50:first-child {
    height: auto !important;
  }
}
