// ///// cart /////

.cart-link {
  z-index: 9000000000;
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  background: url('src/img/bag.svg') 0% 50% no-repeat;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: $medium;
    border-radius: 5px;
    right: 0;
  }
}

.mini-cart {
  top: 0;
  right: 0;
  padding: 6rem 4rem 4rem;
  display: block;
  width: 30rem;
  right: -30rem;
  height: 100%;
  position: fixed;
  background: white !important;

  &.active {
    right: 0;
  }

  .inner {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      text-align: left;
    }
  }

  .woocommerce-mini-cart {
    width: 100%;
    display: block;
  }

  .woocommerce-mini-cart-item {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba($light, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between !important;

    &:before,
    &:after {
      display: none !important;
    }

    * {
      margin: 0 !important;
      padding: 0;
    }

    .quantity,
    .remove {
      width: 2rem;
      height: 2rem;
      font-size: 0.9rem;
      color: black;
      line-height: 2rem;
    }

    h6 {
      line-height: 1;
    }

    .remove {
      order: 1;
      position: relative;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 0.8rem;
        width: 1px;
        background: red;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    div {
      height: auto;
      width: auto;
      order: 2;
    }
  }

  .bottom {
    width: 100%;

    .total {
      border-top: 1px solid rgba($light, 0.5);
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem 0;
    }

    .button {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

//   .overlay {
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.4);
//   }
//
//   .button {
//     border: 1px solid $dark !important;
//     color: $dark !important;
//
//     &:hover {
//       background: rgba($dark, 0.1);
//     }
//
//     &.alt {
//       border: 1px solid $medium !important;
//       color: $medium !important;
//
//       &:hover {
//         background: rgba($medium, 0.1);
//       }
//     }
//   }
//
//
//   @keyframes cartIn {
//     0% {
//       right: -20rem;
//     }
//
//     100% {
//       right: 0;
//     }
//   }
//
//   @keyframes cartOut {
//     0% {
//       right: 0;
//     }
//
//     100% {
//       right: -20rem;
//     }
//   }
//
//   &.active {
//     .cart {
//       right: 0;
//       // animation: cartIn 0.5s ease;
//     }
//   }
//
//   .close {
//     cursor: pointer;
//     position: absolute;
//     width: 1.5rem;
//     height: 1.5rem;
//     top: 2.5rem;
//     right: 2rem;
//     z-index: 200000;
//     background: white;
//
//     &:before,
//     &:after {
//       content: '';
//       display: block;
//       position: absolute;
//       height: 1.5rem;
//       width: 1px;
//       background: black;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       margin: auto;
//     }
//
//     &:before {
//       transform: rotate(-45deg);
//     }
//
//     &:after {
//       transform: rotate(45deg);
//     }
//   }
//
//   .buttons {
//     bottom: 2rem;
//     left: 2rem;
//     right: 2rem;
//     display: flex;
//     justify-content: space-between;
//
//     .button {
//       width: 48%;
//       padding: 1.5rem 1rem !important;
//       text-align: center;
//     }
//   }
//
//   ul {
//     margin: 0;
//     padding: 0;
//     overflow: scroll;
//
//     li {
//       display: flex;
//       padding: 1rem 0;
//       border-top: 1px solid $medium;
//
//       &:last-child {
//         border-bottom: 1px solid $medium;
//       }
//
//       a,
//       dt,
//       dd {
//         margin: 0 !important;
//         padding: 0 !important;
//         border: 0 !important;
//       }
//
//       .name {
//         flex: 1;
//
//         h5 {
//           margin-bottom: 0.5rem;
//         }
//       }
//
//       .remove,
//       .quantity {
//         font-size: 0.8rem;
//         width: 3rem;
//         height: 0.7rem;
//         align-self: center;
//         border-radius: 0;
//         text-align: center;
//       }
//
//       .quantity {
//         line-height: 1;
//       }
//
//       .remove {
//         position: relative;
//         background: none !important;
//
//         &:hover {
//           opacity: 0.6;
//         }
//
//         &:before {
//           content: '';
//           position: absolute;
//           display: inline-block;
//           width: 0.65rem;
//           height: 0.65rem;
//           left: 0;
//           right: 0;
//           margin: auto;
//           // -webkit-mask: url('src/img/cross.svg') 50% 50% no-repeat;
//           -webkit-mask-size: contain;
//           background: red;
//         }
//       }
//     }
//   }
// }
//
// .variation,
// .wc-item-meta {
//   margin-top: 0.5rem !important;
//
//   &,
//   p,
//   a {
//     color: $medium;
//     margin: 0;
//     font-size: 0.75rem;
//   }
//
//   strong {
//     font-weight: 500;
//   }
// }
//
// @media screen and (max-width: $media-750) {
//   .mini-cart {
//     .cart {
//       width: 100%;
//       right: -100%;
//     }
//   }
// }
//
// @media screen and (max-width: $media-500) {
//   .mini-cart {
//     .buttons {
//       flex-direction: column-reverse;
//
//       .button {
//         width: 100%;
//       }
//     }
//   }
// }
