///// forms /////

.woocommerce {
  form {
    input,
    select {
      width: 100% !important;
      padding: 1.2rem 1rem !important;
      display: block;
    }

    .quantity {
      display: inline-block;
      width: 5rem;
      margin-right: 0.8rem;

      input {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          opacity: 1;
        }
      }
    }

    button,
    .single_add_to_cart_button {
      width: 12rem;
      line-height: 1.8 !important;
      padding: 1.2rem 1rem !important;
    }

    .variations {
      width: 18rem;
      margin-bottom: 1rem;
      position: relative;
      padding-right: 3rem !important;
    }

    .reset_variations {
      display: none !important;
    }
  }
}

@media screen and (max-width: $media-500) {
  .woocommerce {
    form {
      .quantity,
      button {
        width: 100%;
      }

      .quantity {
        margin-bottom: 1rem;
      }
    }
  }
}
