///// single product /////

.single-product {
  .back {
    display: block;
    padding-left: 1rem;
    position: relative;
    opacity: 0.3;

    &:hover {
      opacity: 0.5;
    }

    h6 {
      color: $darker;
      font-size: 0.7rem;
      letter-spacing: 1px;
      font-weight: 500;
      display: inline-block;
      line-height: 1.5;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0.4rem;
      height: 0.4rem;
      border-left: 1px solid $darker;
      border-bottom: 1px solid $darker;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }
  }

  .product_meta {
    display: none;
  }

  .cost {
    display: block;
    padding-top: 1.5rem;
    border-top: 1px solid $light;
  }

  .main-carousel,
  .carousel-cell {
    width: 100%;
    height: 100%;
  }
}
