///// product tabs /////

.product-tabs {
  .tab-nav {
    justify-content: flex-start;
    border-bottom: 2px solid rgba($light, 0.5);
    margin: 0 0 2rem;

    .item {
      padding: 1rem;
      opacity: 0.3;
      position: relative;
      cursor: pointer;

      &:first-child {
        &:after {
          content: '';
          display: block;
          left: 0;
          right: 0;
          position: absolute;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background: $medium;
        }
      }
    }
  }

  .tab-display {
    .item {
      opacity: 0;
      display: none;
    }
  }

  .item {
    &:first-child {
      opacity: 1;
      display: block;
    }
  }
}
