///// accordion /////

.accordion {
  .item {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba($darker, 0.1);

    .title {
      height: auto;
      max-width: 100%;
      position: relative;
      padding-right: 2rem;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        top: 0.3rem;
        right: 0;
        border-right: 1px solid $darker;
        border-bottom: 1px solid $darker;
        transform: rotate(45deg);
      }
    }

    .expand {
      max-height: 0;
      overflow: hidden;

      .content {
        padding: 2rem 0 0;
      }
    }

    &.open {
      .title {
        h3 {
          color: $light;
        }

        &:after {
          top: 0.4rem;
          transform: rotate(225deg);
          border-color: $light;
        }
      }

      .expand {
        height: auto;
        max-height: 80rem;
      }
    }
  }
}
