///// banner /////

.banner {
  .background {
    z-index: -9;

    &.dark {
      &:before {
        background: $darker;
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: $media-900) {
  .banner {
    .thick {
      padding: 5rem 0;
    }
  }
}
