///// button /////

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
button[type='submit'] {
  background: transparent !important;
  border: 1px solid $medium !important;
  color: $medium !important;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    background: rgba($light, 0.2) !important;
  }

  &.white {
    border: 1px solid white !important;
    color: white !important;

    &:hover,
    &:focus {
      background: rgba(white, 0.1);
    }
  }
}
