///// category nav /////

.category-nav {
  background: $darker;

  ul {
    justify-content: flex-start;
  }

  li {
    margin: 0 1rem;

    &.current-cat {
      a {
        color: $light;
      }
    }

    a {
      color: white;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 2px;
      font-family: $font2;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 650px) {
  .category-nav {
    ul {
      display: block;

      li {
        display: block;
        margin: 1rem 2rem 1rem 0;
      }
    }
  }
}
