///// collections /////

.collections {
  .item {
    height: 30vw;

    &:hover {
      .dark {
        &:before {
          background: $dark;
          opacity: 0.95;
        }
      }
    }
  }

  h6 {
    color: white;
    margin: 0;
  }

  .flex {
    justify-content: center;
  }
}

@media screen and (max-width: $media-750) {
  .collections {
    .item {
      height: 50vw;
    }
  }
}
