///// content /////

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    margin: 1.5rem 0;
  }

  p,
  ul,
  ol,
  li {
    margin: 0 0 1rem;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    list-style: none;

    li {
      padding-left: 1.5rem;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 0.2rem;
        height: 0.2rem;
        background: $dark;
        left: 0.3rem;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  blockquote {
    border-left: 1px solid rgba($light, 0.6);
    padding: 0 0 0 1rem;
    margin: 2rem 0;

    p {
      color: $light;
      font-size: 1.4rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $media-1200) {
  .content {
    .small {
      width: calc(100% - 30rem);
    }
  }
}

@media screen and (max-width: $media-900) {
  .content {
    .small {
      width: 100%;
    }
  }
}
