///// edit /////

.edit_link {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200000000;

  a {
    margin: 1rem 0 0 1rem;
    width: 3rem;
    height: 3rem;
    background: $light;
    display: block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $medium;
      -webkit-mask: url('src/img/edit.svg') 50% 50% no-repeat;
      -webkit-mask-size: contain;
    }

    &:hover {
      &:before {
        background: $dark;
      }
    }
  }
}
