///// flickity /////

.flickity-enabled {
  position: relative;

  &.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .flickity-viewport {
      cursor: move;
      cursor: -webkit-grab;
      cursor: grab;

      &.is-pointer-down {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: none !important;
}

.carousel-cell {
  position: relative;
}

.flickity-button {
  position: absolute;
  background: white;
  border: none;

  &:hover {
    background: white;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
}

.flickity-prev-next-button {
  top: auto !important;
  transform: none;
  bottom: 0 !important;
  margin: 0 !important;
  width: 5rem !important;
  height: 5rem !important;
  padding: 1rem 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  background: $medium !important;
  margin: auto;
  opacity: 1 !important;

  &:disabled {
    &,
    &:hover {
      background: $light !important;
    }
  }

  &:hover,
  &:focus {
    background: $medium !important;
    box-shadow: none !important;
  }

  .flickity-button-icon {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.6rem;
    height: 0.6rem;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  &.previous {
    left: calc(50% - 5rem);

    &:before {
      right: 40%;
      transform: rotate(135deg);
    }
  }

  &.next {
    right: calc(50% - 5rem);

    &:before {
      left: 40%;
      transform: rotate(-45deg);
    }
  }
}

.dark {
  .flickity-prev-next-button {
    background: $darker !important;

    &:before {
      border-color: white;
    }

    &:hover,
    &:focus {
      background: $darker !important;
    }
  }
}

.flickity-page-dots {
  bottom: 4rem !important;
  width: auto;
  position: relative;
  margin: 0 !important;
  list-style: none;
  text-align: center;
  line-height: 1;

  .dot {
    width: 4rem;
    height: 2px;
    display: inline-block;
    margin: 0 0.5rem;
    border-radius: 0;
    opacity: 0.5;
    background: $light;
    cursor: pointer;

    &.is-selected {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $media-900) {
  .flickity-page-dots {
    bottom: 2rem !important;

    .dot {
      width: 2rem;
    }
  }

  .flickity-prev-next-button {
    width: 4rem !important;
    height: 4rem !important;

    &.previous {
      left: calc(50% - 4rem);
    }

    &.next {
      right: calc(50% - 4rem);
    }
  }
}
