///// form /////

.button,
button,
input,
textarea,
select {
  -webkit-appearance: none !important;
  appearance: none;
  padding: 1.2rem 2.2rem !important;
  margin: 0 !important;
  line-height: 1.5 !important;
  display: inline-block;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-family: $font2;
  border: 0;
  font-size: 0.9rem !important;
  position: relative;
  cursor: pointer;
}

form {
  margin: 0;
  padding: 0;

  input,
  textarea,
  select {
    font-size: 1rem !important;
    background: white !important;
    color: rgba($dark, 0.7) !important;
    border: 1px solid white !important;
  }

  label {
    display: none;
  }

  textarea {
    max-height: 8rem;
  }

  input[type='checkbox'] {
    vertical-align: top;
    margin: 0.3rem 0.5rem 0 0 !important;
    max-width: 1rem !important;
    width: 1rem !important;
    height: 1rem !important;
    padding: 0 !important;
    display: inline-block !important;
    border: 1px solid $light;

    &:checked {
      background: rgba($light, 0.4);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      width: 100%;
      margin: 0 0 0.5rem;
    }
  }

  .half {
    width: calc(50% - 0.25rem);
  }

  .gform_footer {
    input {
      margin: 0 auto !important;
    }
  }

  .validation_message,
  .validation_error {
    display: none !important;
  }

  .gfield_error {
    input,
    select,
    textarea {
      border: 1px solid $medium !important;
    }
  }
}

@media screen and (max-width: $media-750) {
  form {
    .half {
      width: 100%;
    }
  }
}
