///// gallery /////

.gallery {
  .carousel-cell {
    width: 50%;
    height: 30rem;
  }
}

@media screen and (max-width: $media-1500) {
  .gallery {
    .carousel-cell {
      height: 30vw;
    }
  }
}

@media screen and (max-width: $media-900) {
  .gallery {
    .carousel-cell {
      width: 100%;
      height: 55vw;
    }
  }
}
