///// map /////

.map {
  height: 40rem;

  .background {
    &:before {
      content: "";
      position: absolute;
      display: block;
      z-index: 200;
      width: 4rem;
      height: 4rem;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      background: url("src/img/marker.svg") 50% 50% no-repeat;
      background-size: contain;
    }
  }

  .dark {
    bottom: 0;
    right: 0;

    a {
      padding: 2rem;
      display: block;
    }

    &:hover {
      background: $medium;

      h6 {
        color: white;
      }
    }
  }
}

@media screen and (max-width: $media-750) {
  .map {
    height: 30rem;
  }
}
