///// pagination /////

.pagination {
  justify-content: center;

  span,
  div {
    display: inline-block;

    &:hover {
      a {
        background: $medium;
      }
    }
  }

  a {
    width: 4rem;
    height: 4rem;
    display: block;
    line-height: 4rem;
    margin: 0 0.25rem;
    color: white;
    font-weight: 600;
    font-family: $font2;
    background: $darker;
  }

  .next,
  .prev {
    padding: 0;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      margin: auto;
      width: 0.6rem;
      height: 0.6rem;
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  .next {
    &:before {
      transform: rotate(-45deg);
      right: 0.2rem;
    }
  }

  .prev {
    &:before {
      transform: rotate(135deg);
      left: 2rem;
    }
  }
}
