///// product list /////

.products {
  .item-20 {
    background: white;

    .background {
      margin: 2rem;
    }

    .meta {
      padding: 0 1rem 2rem;

      h4 {
        display: inline-block;
        margin-bottom: 1rem;
        position: relative;

        &:after {
          content: '';
          width: 0;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          display: block;
          bottom: 0;
          height: 1px;
          background: rgba($dark, 0.2);
        }
      }

      h6 {
        font-weight: 400;
        opacity: 0.3;
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }

    &:hover {
      box-shadow: 0.2rem 0.2rem 0 rgba($light, 0.5);

      h4 {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $media-500) {
  .products {
    .item-20 {
      .background {
        margin: 1rem;
      }
    }
  }
}
