///// slider /////

.front-slider,
.product-slider {
  .item-50,
  .main-carousel {
    height: 55rem;
    justify-content: center;
  }

  .carousel-cell {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    padding: 3rem;
    max-width: 40rem;
  }
}

@media screen and (max-height: $media-900) {
  .front-slider {
    .main-carousel,
    .flickity-viewport,
    .item-50 {
      height: calc(100vh - 5rem) !important;
    }
  }
}

@media screen and (max-height: 800px) {
  .front-slider,
  .product-slider {
    .item-50,
    .main-carousel,
    .flickity-viewport {
      height: calc(100vh - 5rem) !important;
    }
  }
}

@media screen and (max-width: $media-900) {
  .front-slider {
    .main-carousel,
    .flickity-viewport,
    .item-50 {
      height: 25rem !important;
    }
  }
}

@media screen and (max-width: $media-750) {
  .product-slider {
    flex-direction: column-reverse;

    .item-50 {
      margin: 0 !important;

      &:first-child {
        height: auto !important;
      }
    }
  }
}
