///// testimonials /////

.testimonials {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: -2rem;
    left: 0;
    right: 0;
    margin: auto;
    background: url("src/img/quote.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 200;
  }

  .carousel-cell {
    padding: 5rem 3rem 3rem;
    width: 50rem;
    margin: 0 1rem;
    opacity: 0.5;

    &.is-selected {
      opacity: 1;
      background: $darker;

      p {
        color: white;
      }
    }

    h6 {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: $media-1200) {
  .testimonials {
    .carousel-cell {
      width: 80%;
    }
  }
}

@media screen and (max-width: $media-750) {
  .testimonials {
    &:before {
      width: 4rem;
      height: 4rem;
      top: -1rem;
    }

    .carousel-cell {
      width: 90%;
      padding: 5rem 2rem 2rem;
    }
  }
}
