/* override */

.admin-bar header,
.admin-bar .edit_link {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar header,
  .admin-bar .edit_link {
    top: 45px;
  }

  #wpadminbar {
    position: fixed !important;
  }
}
