///// base /////

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin-top: 5rem;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  transition: 0.5s ease all;
  font-family: $font1;
  color: $dark;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
  outline: 0 !important;
}
