///// header /////

header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  z-index: 2000000;
  background: white;
  box-shadow: 0 0 10px rgba($dark, 0.2) !important;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      position: relative;
      cursor: pointer;
    }

    .current-menu-item,
    .current-menu-parent {
      & > a {
        color: $light;
        border-bottom: 1px solid $light;

        &:before {
          border-color: $light !important;
        }
      }
    }

    .menu-item-has-children > a {
      padding-right: 1rem;
      pointer-events: none;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 0.4rem;
        height: 0.4rem;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        right: 1rem;
        top: 2.3rem;
        margin: auto;
        transform: rotate(45deg);
      }
    }

    a {
      color: white;
      display: block;
      margin: 0;
      padding: 1rem;
      font-family: $font2;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .sub-menu {
      display: block;
      max-height: 0;
      overflow: hidden;
      background: $darker;

      li {
        &:hover,
        &.current-menu-item {
          a {
            border: 0;
            color: white;
            background: $dark;
          }
        }

        a {
          background: $darker;
          margin: 0 !important;
          padding: 0.5rem 1rem;
          text-transform: uppercase;
          color: white !important;
          font-weight: 400;
          letter-spacing: 1px;
          font-size: 0.8rem;
        }
      }
    }

    .open {
      .sub-menu {
        max-height: 30rem;
      }
    }
  }

  .cart-link,
  .hamburger {
    z-index: 9000000000;
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    display: block;
    cursor: pointer;
    margin-left: 1rem;
  }

  .hamburger {
    background: url('src/img/plus.svg') 50% 50% no-repeat;
  }

  &.active {
    .hamburger {
      transform: rotate(135deg);
    }
  }

  .cart-link {
    background: url('src/img/bag.svg') 50% 50% no-repeat;

    &:before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background: $medium;
      border-radius: 5px;
      right: 0;
    }
  }
}

@media screen and (min-width: $media-1200) {
  header {
    ul {
      li {
        padding: 1rem 0;
      }

      a {
        margin: 0 1rem !important;
      }

      .sub-menu {
        z-index: 200;
        top: 100%;
        width: 100%;
        text-align: center;
        position: absolute;

        li {
          padding: 0;
        }
      }
    }
  }
}
