///// layout /////

section {
  position: relative;
}

.clear {
  clear: both;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &.center {
    align-items: center;
  }

  &.justify {
    justify-content: space-between;
  }
}

.large {
  margin: auto;
  width: 75rem;
}

.medium {
  margin: auto;
  width: 65rem;
}

.small {
  margin: auto;
  width: 40rem;
}

.thick {
  padding: 8rem 0;
}

.thin {
  padding: 5rem 0;
}

.xthin {
  padding: 1.5rem 0;
}

.item-20,
.item-30,
.item-45,
.item-50,
.item-65 {
  margin-top: 2rem;
}

.item-20 {
  width: calc(25% - 1rem);

  .image {
    height: 14rem;
  }

  &:nth-child(-n + 4) {
    margin-top: 0;
  }
}

.item-30 {
  width: 30%;

  .image {
    height: 18rem;
  }

  &:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.item-45 {
  width: 45%;

  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}

.item-45,
.item-50,
.item-65 {
  &:nth-child(-n + 2) {
    margin-top: 0;
  }
}

.item-50 {
  width: 50%;
}

.item-65 {
  width: 65%;
}

.third {
  .item {
    width: calc(100% / 3);
  }
}

.light {
  background: $lighter;
}

.dark {
  background: $darker;
}

@media screen and (max-width: $media-1500) {
  .large {
    width: 90%;
  }
}

@media screen and (max-width: $media-1200) {
  .medium {
    width: 90%;
  }

  .item-30 {
    .image {
      height: 30vw;
    }
  }
}

@media screen and (max-width: $media-900) {
  .small {
    width: 90%;
  }

  .xthin {
    padding: 1rem 0;
  }

  .thin,
  .thick {
    padding: 4rem 0;
  }

  .item-20 {
    width: calc(50% - 1rem);
    margin-top: 2rem !important;

    .image {
      height: 40vw;
    }

    &:nth-child(-n + 4) {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $media-750) {
  .item-30,
  .item-45,
  .item-50,
  .item-65,
  .quarter .item {
    width: 100%;
    margin: 2rem auto 0 !important;

    .image {
      height: 60vw;
    }

    &:first-child {
      margin: 0 auto !important;
    }
  }

  .third {
    .item {
      width: 100%;
    }
  }
}

@media screen and (max-width: $media-500) {
  .item-20 {
    width: 90%;
    margin: auto;

    .image {
      height: 70vw;
    }
  }
}
