///// media /////

iframe {
  max-width: 40rem;
  height: 25rem;
}

.image,
.feature {
  position: relative;

  .background {
    z-index: 0;
  }
}

.feature {
  height: 30rem;
}

.image {
  height: 20rem;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -9;

  &.dark {
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: black;
      opacity: 0.6;
    }
  }
}

@media screen and (max-width: $media-1200) {
  .feature {
    height: 50vw;
  }
}

@media screen and (max-width: $media-750) {
  iframe {
    width: 100%;
    height: 50vw;
  }

  .feature {
    height: 60vw;
  }
}
