///// typography /////

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
p a,
a {
  line-height: 1.5;
  color: $darker;

  strong {
    font-weight: 500;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote {
  margin: 0 0 1.5rem;

  &:last-child {
    margin: 0 !important;
  }
}

h1,
h2,
h3 {
  font-family: $font1;
  font-weight: 100;
  line-height: 1.2;
}

h4,
h5,
h6,
li,
p,
a {
  font-family: $font2;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  color: rgba($darker, 0.7);
  text-transform: none;
}

h5,
h6 {
  color: $medium;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h6 {
  color: $darker;
  font-size: 1rem;
  letter-spacing: 2px;
}

p,
li {
  line-height: 1.8;
  color: rgba($darker, 0.5);
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta {
  display: block;
  padding: 1rem 0;

  span {
    position: relative;
    padding: 0 0.5rem 0 1rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    color: $medium;
    font-weight: 500;
    line-height: 2;
    font-family: $font2;

    &:before {
      content: '';
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      background: $medium;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

.tdark,
.dark {
  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    color: white;
  }

  p,
  p a,
  li {
    color: rgba(white, 0.7);
  }
}

@media screen and (max-width: $media-900) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: $media-750) {
  h2 {
    font-size: 2rem;
  }

  h3,
  h4 {
    font-size: 1.2rem;
  }

  h5,
  h6 {
    font-size: 1.2rem;
  }
}
