///// fonts /////

$font1: "Cormorant Garamond", sans-serif;
$font2: "brandon-grotesque", sans-serif;

///// colours /////

$darker: #2c2725;
$dark: #855f56;
$medium: #cba49a;
$light: #e2cdc7;
$lighter: #f5edeb;

///// breakpoints /////

$media-1500: 1500px;
$media-1200: 1200px;
$media-900: 900px;
$media-750: 750px;
$media-500: 500px;
